<div *ngIf="!musicaActivada" class="bubble-activation" (click)="activarMusica()">
  <span class="merienda">¡Que empiece la fiesta!</span>
  <svg class="icono-nota" viewBox="0 0 24 24" fill="currentColor">
    <path d="M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z"/>
  </svg>
</div>

<div class="reproductor-container" 
     [class.minimizado]="estaMinimizado" 
     *ngIf="musicaActivada">
  
  <button class="btn-control close" (click)="toggleMinimizar()">×</button>
  
  <iframe 
    [src]="safeUrl" 
    width="100%" 
    height="100%" 
    frameborder="0" 
    allow="autoplay; encrypted-media; picture-in-picture" 
    allowfullscreen>
  </iframe>
</div>

<div class="bubble-restore" 
     *ngIf="musicaActivada && estaMinimizado" 
     (click)="toggleMinimizar()">
  <svg class="icono-nota" viewBox="0 0 24 24" fill="currentColor">
    <path d="M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z"/>
  </svg>
</div>