<div *ngIf="!musicaActivada" class="bubble-activation" (click)="activarMusica()">
  <span class="merienda">¡Que empiece la fiesta!</span>
  <svg class="icono-nota" viewBox="0 0 24 24" fill="currentColor">
    <path d="M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z"/>
  </svg>
</div>

<div class="reproductor-container" 
     [class.minimizado]="estaMinimizado" 
     *ngIf="musicaActivada">
  
  <button class="btn-control close" (click)="toggleMinimizar()">×</button>
  
  <div class="iframe-wrapper">
    <iframe 
      id="yt-player"
      [src]="safeUrl" 
      width="100%" 
      height="100%" 
      frameborder="0" 
      allow="autoplay; encrypted-media; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </div>

  <div class="player-controls">
    <button class="btn-player prev" (click)="playAnterior()" title="Anterior">
      <svg viewBox="0 0 24 24" class="control-svg">
        <path d="M6 6h2v12H6zm3.5 6 8.5 6V6z"/>
      </svg>
    </button>
    <button class="btn-player next" (click)="playSiguiente()" title="Siguiente">
      <svg viewBox="0 0 24 24" class="control-svg">
        <path d="M6 18l8.5-6L6 6zm9-12h2v12h-2z"/>
      </svg>
    </button>
  </div>
</div>

<div class="bubble-restore" 
     *ngIf="musicaActivada && estaMinimizado" 
     (click)="toggleMinimizar()">
  <svg class="icono-nota" viewBox="0 0 24 24" fill="currentColor">
    <path d="M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z"/>
  </svg>
</div>